* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* navigation bar */
.nav-container {
    color: #212121;
    font-family: monaco, monospace;
    background-color: #D9CAB3;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 28px;
}

ul {
    list-style: none;

}
li {
    float: right;
    margin: 10px 20px 10px 20px;
}
a {
    text-decoration: none;
    color: black;
}
/* slideshow container */
.slideshow-container {
  height:480px;
  width:640px;
  position: relative;
  margin: 2em auto;
  padding-top:2em;
  
}
/*hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  height:480px;
  width:640px;
  border: 12px double #212121;
}
/* on hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* captions */
.text {
  color: #f5ebeb;
  font-family: monaco, monospace;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* numbers */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 24px 12px 12px 24px;
  position: absolute;
}

/* fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.bottom-nav{
  display:flex;
  justify-content: space-between;
  margin-top: 36px;
}
body{
  background-color: #F6F6F6;
}
.about-page{
  display:flex;
  flex-direction: column;
}
.bio{
  display: flex;
  flex-direction: row;
  margin: .5em;
  padding: 1em;
  font-family: monaco, monospace;
  font-size: 24px;
  color: #212121;
  line-height: 150%;
}
.bio-text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 10em 0px 10em;
  
}
.headshot img{
  width:150;
  height:300;
  margin: .5em 10em .5em .5em;
  border: 1em double #212121;
}
.bottom-nav-about{
  display:flex;
  justify-content: space-evenly;
  padding: 2em 5em 0px 5em;
}
.poem-menu { 
  font-family: monaco, monospace;
  font-size: 24px;
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.poem-menu h2{
  margin-bottom: 1em;
}

.poem-menu a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}


.poem-menu a.active {
  background-color: #04AA6D;
  color: white;
}

.poem-menu a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.content {
  display: flex;
  line-height: 2em;
  margin: 5em 15em 5em 15em;
  padding: 1px 16px;
  height: 5em;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}