* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* navigation bar */
.nav-container {
    color: #212121;
    font-family: monaco, monospace;
    background-color: #D9CAB3;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 28px;
}

ul {
    list-style: none;

}
li {
    float: right;
    margin: 10px 20px 10px 20px;
}
a {
    text-decoration: none;
    color: black;
}
/* slideshow container */
.slideshow-container {
  height:480px;
  width:640px;
  position: relative;
  margin: auto;
  padding-top:24px;
}
/*hide the images by default */
.mySlides {
  display: none;
}
.myslides img {
  height:480px;
  width:640px;
  border: 12px double #212121;
}
/* on hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* captions */
.text {
  color: #f5ebeb;
  font-family: monaco, monospace;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* numbers */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 24px 12px 12px 24px;
  position: absolute;
}

/* fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.bottom-nav{
  display:flex;
  justify-content: space-between;
  margin-top: 36px;
}
body{
  background-color: #F6F6F6;
}
.bio{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 12px;
  padding: 24px;
}
.bio p{
  font-family: monaco, monospace;
  font-size: 24px;
  color: #212121;
  margin-top: 12px;
}
.about-page{
  display:flex;
  flex-direction: row;
}
.headshot img{
  margin: 12px;
  border: 12px double #212121;
}
.about-icons{
  display:flex;
  justify-content: space-between;
  margin-top: 150px;
}