* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: monaco, monospace;
}
body{
  background-color: #F6F6F6;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
}
/* logo */
.logo{
  font-size: 30px;
}
/* navigation bar */
.nav {
    font-size: 24px;
    color: #212121;
    display: flex;
    justify-content: space-around;
    border: 12px double #212121;
}

ul {
    list-style: none;
}
li {
    float: right;
    padding: 12px;
}
a {
    text-decoration: none;
    color: black;
}

/* center, space slideshow and buttons */

.body-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 20%;
}

/* slideshow container */

.slideshow-container {
  height:480px;
  width:640px;
  position: relative;
  margin: auto;
  padding-top:2em;
  
}

/* size slideshow image and add border */

.mySlides img {
  height:480px;
  width:640px;
  border: 12px double #212121;
}

/* slideshow captions */

.text {
  color: #f5ebeb;
  font-family: monaco, monospace;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* slideshow numbers */

.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 24px 12px 12px 24px;
  position: absolute;
}

/* fading animation when changing slides*/

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* icon links and site info */

.bottom-nav{
  display:flex; 
  justify-content: center;
  position: fixed;
  bottom:0;
  width:100%;
  /* height:60px; */
  padding-top: 2em;
}
.bottom-links{
  display: flex;
  justify-content: space-around;
  height: 2em;
  padding-bottom: 2em;
}
.contact-button{
  padding-left: 1em;
}
.site-info{ 
  position: fixed;
  bottom:0;
  width:100%;
  font-family: monospace;
  font-size:12px;
  text-align: center;
}


/* about page */

.about-page{
  display:flex;
  flex-direction: column;
}

/* bio text block*/

.bio{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: .5em;
  padding: 10em;
  font-family: monospace;
  font-size: 24px;
  color: #212121;
  line-height: 150%;
}

.bio-text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 2em;
}

/* headshot */

.headshot{
  display: flex;
  flex-direction: column;
  font-size: 8px;
}
.headshot img{
  width:500px;
  height:500px;
  border: 1em double #212121;
}

/* social icons */

.bottom-nav-about{
  display:flex; 
  justify-content: center;
}

/* poem navigation menu */

.poem-menu { 
  font-family: monaco, monospace;
  font-size: 24px;
  margin-top: 1em;
  margin-left: 3em;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.poem-menu h2{
  margin-bottom: 1em;
}
.poem-menu a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* highlight back to top button*/

.to-top {
  background-color: #D9CAB3;
  color: white;
}

/* poems */

.content {
  display: flex;
  flex-direction: column;
  line-height: 2em;
  margin: 5em 16em 5em 16em;
  padding: 1px 16px;
  height: 5em;
}
.content pre{
  margin: 3em;
}
#pap{
  padding-left:2em;
}
#atlas{
  padding-left: 6em;
}
#december{
  padding-left: 10em;
}
#shiver{
  padding-left:14em;
}
#crow{
  padding-left:18em;
}
#floating{
  padding-left:22em
}

/* adjust content for smaller screen size */

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}